.badge-category__wrapper {
  font-size: inherit;
  .badge-category {
    gap: 0.25rem;
    align-items: center;
    &__name {
      color: var(--neutral-10);
    }
    &.--has-parent {
      &:before {
        background: none;
      }
    }
    &:before {

      background: none;
      width: 0rem;
      height: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .badge-category:before {
      content: "";
    }
  }
}

.badge-category__wrapper {
  font-size: inherit;
  .badge-category {
    gap: 0.25rem;
    align-items: center;
    &__name {
      color: var(--neutral-10);
    }
    &.--has-parent {
      &:before {
        background: none;
      }
    }
  }
}

.badge-notification {
  &.unread-posts {
    background-color: var(--primary-60);
    color: var(--primary-100);
  }
}

.badge-card {
  border-radius: var(--rounded-md);
}
